<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <div class="card">
        <h2>Iniciar Sesión</h2>

        <div th:if="${mensaje}" class="mensaje-exito" th:text="${mensaje}"></div>
        <div th:if="${error}" class="mensaje-error" th:text="${error}"></div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Tu usuario" required/>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Tu contraseña" required/>
            </div>
            <button type="submit">Ingresar</button>
        </form>
        <p style="text-align:center; margin-top:1rem;">¿Aún no tienes cuenta creada? <a th:href="@{/usuarios/registrar}">Registrarse</a></p>
    </div>
</body>
</html>